{{#*inline "title"}}موتور خورجینی{{/inline}}

{{#*inline "child"}}
<h2 class="mt-5">موتور خورجینی</h2>
<p>
  سیلندرها در این حالت در دو ردیف که نسبت به یک دیگر زاویه مشخصی دارند
  قرار گرفته اند. این گونه موتورها ، پس از آرایش خطی ، معروف ترین مدل
  موتورها در میان خودرو سازان بوده . پیدایش این موتورها به دلیل این بوده
  است که<b>
    گاهی خودرو سازان تا 12 سیلندر را در یک ردیف قرار می-داده ان</b
  >د ، که این خود باعث بوجود آمدن بسیاری مشکلات عدیده از جمله افزایش طول
  خودرو یا افزایش بی دلیل وزن خودرو برای استفاده از چنین حجمی از مواد
  بوده است .
</p>
<img
  src="images/v8-engine.jpg"
  class="img-fluid"
  alt="V-Type-Engine"
  data-bs-toggle="tooltip"
  data-bs-placement="top"
  data-bs-custom-class="custom-tooltip"
  data-bs-title="موتور هشت سیلندر خورجینی."
/>
{{/inline}}
{{> (lookup this "layout")}}