{{#*inline "title"}}صفحه اصلی{{/inline}}

{{#*inline "child"}}
<h2 class="mt-5">درود بر جهان</h2>

<p>درباره موتور های خورجینی: <a href="EngineTypes/V/farsi.html">فارسی</a> | <a
        href="EngineTypes/V/english.html">English</a></p>

{{/inline}}

{{> (lookup this "layout")}}